cx_Freeze==7.0.0
cx_Logging==3.2.0
dnspython==2.7.0
lief==0.14.1
numpy==1.26.4
pandas==2.2.2
pymongo==4.10.1
python-dateutil==2.9.0.post0
pytz==2024.1
six==1.16.0
tk==0.1.0
tzdata==2024.1
watchdog==4.0.0
